</div>



        <div class="clear-footer"></div>
        <footer id="footer-section" class="penci-footer-social-media penci-lazy footer-social-remove-circle">
            <div class="container">
                <div class="footer-logo-copyright footer-not-logo footer-not-gotop">
                    <div class="footer-menu-wrap">
                        <ul id="menu-menu-inferior-1" class="footer-menu">
                            <li id="menu-item-2591" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1583 current_page_item menu-item-2591"><a href="https://newtral.es/quienes-somos/" aria-current="page">Newtral</a></li>
                            <li id="menu-item-3015" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3015"><a href="https://www.instagram.com/newtral/?hl=es">Instagram</a></li>
                            <li id="menu-item-3013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3013"><a href="https://twitter.com/Newtral">Twitter</a></li>
                            <li id="menu-item-3014" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3014"><a href="https://www.facebook.com/NewtralMedia/">Facebook</a></li>
                            <li id="menu-item-2597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2597"><a href="https://newtral.es/aviso-legal-y-politica-de-privacidad/">Aviso legal</a></li>
                        </ul>
                    </div>
                    <div id="footer-copyright">
                        <p>© 2018 - Newtral</p>
                    </div>
                </div>
                <div class="penci-go-to-top-floating"><i class="fa fa-angle-up"></i></div>
            </div>
        </footer>
        </div>
        <div id="fb-root"></div>
        <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style" style="bottom:0px;left:0px;background-color:transparent;">
            <a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fnewtral.es%2Fquienes-somos%2F&amp;linkname=Qui%C3%A9nes%20somos" title="Twitter" rel="nofollow noopener" target="_blank"></a>
            <a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fnewtral.es%2Fquienes-somos%2F&amp;linkname=Qui%C3%A9nes%20somos" title="Facebook" rel="nofollow noopener" target="_blank"></a>
            <a class="a2a_button_whatsapp" href="https://www.addtoany.com/add_to/whatsapp?linkurl=https%3A%2F%2Fnewtral.es%2Fquienes-somos%2F&amp;linkname=Qui%C3%A9nes%20somos" title="WhatsApp" rel="nofollow noopener" target="_blank"></a>
        </div>
        <script type='text/javascript'>
            /*  */
            var wpcf7 = {
                "apiSettings": {
                    "root": "https:\/\/newtral.es\/wp-json\/contact-form-7\/v1",
                    "namespace": "contact-form-7\/v1"
                },
                "cached": "1"
            };
            /*  */
        </script>
        <script type='text/javascript' src='https://newtral.es/wp-content/plugins/contact-form-7/includes/js/scripts.js'></script>
        <script type='text/javascript' src='https://s0.wp.com/wp-content/js/devicepx-jetpack.js'></script>
        <script type='text/javascript' src='https://newtral.es/wp-content/themes/soledad/js/libs-script.min.js'></script>
        <script type='text/javascript' src='https://newtral.es/wp-content/themes/soledad/js/smoothscroll.js'></script>
        <script type='text/javascript'>
            /*  */
            var ajax_var_more = {
                "url": "https:\/\/newtral.es\/wp-admin\/admin-ajax.php",
                "nonce": "8615efc362"
            };
            /*  */
        </script>
        <script type='text/javascript' src='https://newtral.es/wp-content/themes/soledad/js/main.js'></script>
        <script type='text/javascript'>
            /*  */
            var ajax_var = {
                "url": "https:\/\/newtral.es\/wp-admin\/admin-ajax.php",
                "nonce": "8615efc362"
            };
            /*  */
        </script>
        <script type='text/javascript' src='https://newtral.es/wp-content/themes/soledad/js/post-like.js'></script>
        <script type='text/javascript' src='https://newtral.es/wp-includes/js/comment-reply.min.js'></script>
        <script type='text/javascript' src='https://newtral.es/wp-content/plugins/jetpack/_inc/build/twitter-timeline.min.js'></script>
        <script type='text/javascript' src='https://newtral.es/wp-includes/js/wp-embed.min.js'></script>
        <script type='text/javascript' src='https://newtral.es/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js'></script>
        <script type='text/javascript' src='https://newtral.es/wp-content/plugins/wp_transparentia/public/js/app-widget.js'></script>
        <script type='text/javascript' src='https://stats.wp.com/e-201909.js' async='async' defer='defer'></script>
        <script type='text/javascript'>
            _stq = window._stq || [];
            _stq.push(['view', {
                v: 'ext',
                j: '1:7.0.1',
                blog: '153594914',
                post: '1583',
                tz: '1',
                srv: 'newtral.es'
            }]);
            _stq.push(['clickTrackerInit', '153594914', '1583']);
        </script>
</body>

</html>
